@model CreateUpdateProductViewModel

<div>
    <a asp-action="Index">Back to Product List</a>
</div>

<h2>@ViewBag.Method Product</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action=@ViewBag.Method>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SupplierName" class="control-label"></label>
                <select asp-for="Product.SupplierId" class="form-control" asp-items='new SelectList(Model.Suppliers, "Id", "Name")'></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryName" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items='new SelectList(Model.Categories,"Id", "Name")'></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.QuantityPerUnit" class="control-label"></label>
                <input asp-for="Product.QuantityPerUnit" class="form-control" />
                <span asp-validation-for="Product.QuantityPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitPrice" class="control-label"></label>
                <input asp-for="Product.UnitPrice" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitsInStock" class="control-label"></label>
                <input asp-for="Product.UnitsInStock" class="form-control" />
                <span asp-validation-for="Product.UnitsInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitsOnOrder" class="control-label"></label>
                <input asp-for="Product.UnitsOnOrder" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.ReorderLevel" class="control-label"></label>
                <input asp-for="Product.ReorderLevel" class="form-control" />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Product.Discontinued" /> @Html.DisplayNameFor(model => model.Product.Discontinued)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
